.projects {

  .col-md-4 {
    padding: 0px; 

  }

  .col-md-8 {
    padding: 20px;

    .title {
      padding-left: 40px;
      float: none;
      margin-bottom: 40px;

      span {
        text-transform: uppercase;
      }
    }

    .project-infos {

      padding: 40px;

      ul {
        list-style-type: none;

        .project-title {
          font-size: 20px;
        }

        .project-description {
          margin-top: 20px;
        }

        .btn.go-project a {
          margin-top: 20px;
          width: 320px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      
    }
  }
  ul.imgs-list {
    height:  100%;
    width: 100%;
    list-style-type: none;
    overflow: hidden;

    .project-img {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      overflow: hidden;
      
      img {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

  }

  .projects-pagination {

    text-align: center;
    padding-top: 20px;

    ul {
      
      list-style-type: none;

      li {
        display: inline-block;
        padding: 10px;

        a{
          transition: all 0.5s;
          color: #999;
        }

        &.active a,
        &.visited a {
          text-shadow: 0px 0px 5px white;
          transition: all 0.5s;
          color: white;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .content{
      height: 100%;
      background: #222;

      .bloc {
        height: 100%;
      }

      
    }
  }
}