<div class="page projects">
  <div class="content">
    <div class="bloc col-md-4">
      <div class="col-md-6 title">
        <h1 class="page-title text-white">
          Projects
        </h1>
        <span ng-repeat="project in pc.projects" ng-if="pc.currentProjectId == project.id">{{project.title}} / {{project.category}}</span>
      </div>
      <div class="projects-pagination col-md-6">
        <ul>
          <li class="project-index" ng-repeat="project in pc.projects" ng-class="{ 'active': pc.currentProjectId == project.id }">
            <a href='#' ng-click="pc.show(project.id, project.ref, $event)">/ {{project.id}}</a>
          </li>
        </ul>
      </div>
      <div class="project-infos col-md-12">
        <ul class="projects-list">
          <li class="project" ng-repeat="project in pc.projects" ng-if="pc.currentProjectId == project.id">
            <div class="project-title">
              {{project.title}}
            </div>
            <div class="project-summary">
              {{project.summary}}
            </div>
            <div class="btn black-button go-project">
              <a href="#" ng-click="pc.go(project.ref, project.id, $event)">
                / Check out the project
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="bloc col-md-8">
      <ul class="imgs-list">
        <li ng-repeat="project in pc.projects" ng-if="pc.currentProjectId == project.id" class="project-img">
          <a ng-click="pc.go(project.ref, project.id, $event)" href="#">
            <img src="{{project.thumb}}" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
