.projects .col-md-4 {
  padding: 0px; }

.projects .col-md-8 {
  padding: 20px; }
  .projects .col-md-8 .title {
    padding-left: 40px;
    float: none;
    margin-bottom: 40px; }
    .projects .col-md-8 .title span {
      text-transform: uppercase; }

.projects ul.imgs-list {
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow: hidden; }
  .projects ul.imgs-list .project-img {
    width: 100%;
    height: 100%; }

@media (min-width: 1024px) {
  .projects .content {
    height: 100%;
    background: #222; }
    .projects .content .bloc {
      height: 100%; }
    .projects .content .projects-pagination ul {
      list-style-type: none; }
      .projects .content .projects-pagination ul li {
        display: inline-block;
        padding: 10px; } }
