.projects .col-md-6 {
  padding: 20px; }

.projects .col-md-4 {
  padding: 20px; }
  .projects .col-md-4 .project-infos.col-md-12 {
    margin-top: 80px; }
    .projects .col-md-4 .project-infos.col-md-12 ul {
      list-style-type: none; }
    .projects .col-md-4 .project-infos.col-md-12 .project-title {
      font-size: 24px; }
    .projects .col-md-4 .project-infos.col-md-12 .project-summary {
      margin-top: 20px; }
    .projects .col-md-4 .project-infos.col-md-12 .btn.go-project a {
      margin-top: 20px;
      font-size: 12px;
      width: 240px;
      margin-left: auto;
      margin-right: auto; }

.projects .col-md-8 {
  padding: 0; }

.projects ul.imgs-list {
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  padding: 0; }
  .projects ul.imgs-list .project-img {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .projects ul.imgs-list .project-img img {
      min-height: 100%;
      min-width: 100%; }

.projects .projects-pagination {
  text-align: left;
  padding-top: 20px; }
  .projects .projects-pagination ul {
    list-style-type: none;
    margin-bottom: 0; }
    .projects .projects-pagination ul li {
      display: inline-block;
      padding: 10px; }
      .projects .projects-pagination ul li a {
        transition: all 0.5s;
        color: #999; }
      .projects .projects-pagination ul li.active a,
      .projects .projects-pagination ul li.visited a {
        text-shadow: 0px 0px 5px white;
        transition: all 0.5s;
        color: white; }

@media (min-width: 1024px) {
  .projects .content {
    height: 100%;
    background: #222; }
    .projects .content .bloc {
      height: 100%; }
      .projects .content .bloc .project-infos .btn.go-project a {
        font-size: 18px;
        width: 320px; }
      .projects .content .bloc .projects-pagination {
        text-align: right; } }
