<div class="page contact">
  <div class="content">
    <div class="bloc col-md-8">
      <div class="col-xs-12 title">
        <h1 class="page-title text-white">
          Contact me
        </h1>
        <span>Fabien Désert / </span>
        <span><a href="tel:+33668809406">+33 6 68 80 94 06</a> / </span>
        <span><a href="mailto:909fab@gmail.com">909fab@gmail.com</a></span>
      </div>
      <form class="form" name="contactform" method="post" ng-submit="cc.sendMail($event, formData)" role='form'>
        <div class="col-md-6">
          <div class="form-group">
            <input id="form_name" ng-model="formData.name" name="name" type="text" placeholder="your name" required/>
          </div>
          <div class="form-group">
            <input id="form_email" ng-model="formData.email" name="email" type="text" placeholder="your email" required/>
          </div>
          <div class="form-group">
            <input id="form_phone" ng-model="formData.tel" name="tel" type="text" placeholder="your phone"/>
          </div>
          <div class="form-group">
            <input id="form-subject" ng-model="formData.subject" name="subject" type="text" placeholder="your subject" required/>
          </div>
        </div>
        <div class="col-md-6">
          <textarea id="form_message" ng-model="formData.message" name="message" placeholder="your message" required></textarea>
        </div>
        <div class="col-md-12 send">
          <div class="btn black-button send-button">
            <button class="" type="submit" id="send">
              / Send
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="bloc col-md-4">
      <div id='map' ng-controller="MapCtrl"></div>
    </div>
  </div>
</div>