.description section {
  font-size: 14px;
  margin-top: 20px;
  padding: 0; }
  .description section i.fa {
    text-align: center;
    font-size: 24px; }
  .description section div {
    width: 100%;
    font-size: 12px;
    text-align: left; }
  .description section.cv-section {
    margin-top: 0; }

.description .btn.cv-button a {
  font-size: 12px;
  width: 240px;
  margin-left: auto;
  margin-right: auto; }

.description .profile_pic {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 100%;
  overflow: hidden;
  background-image: url("/styles/imgs/profile.jpg");
  background-size: cover; }

.description .icons {
  text-align: center;
  padding: 20px; }

@media (min-width: 1024px) {
  .description .content {
    height: 100%;
    background: #222; }
    .description .content .bloc {
      height: 100%; }
      .description .content .bloc.col-md-8 {
        overflow: auto; }
        .description .content .bloc.col-md-8::-webkit-scrollbar,
        .description .content .bloc.col-md-8::-moz-scrollbar,
        .description .content .bloc.col-md-8::scrollbar {
          display: none; }
  .description .icons {
    font-size: 25px;
    text-align: center;
    margin-top: 40px; }
  .description section {
    font-size: 0;
    padding-left: 40px !important;
    padding-right: 40px !important; }
    .description section .section_text {
      font-size: 14px; }
  .description .btn.cv-button a {
    font-size: 14px;
    width: 320px;
    margin-left: auto;
    margin-right: auto; } }
