*{padding: 0; margin: 0;} 


@font-face{
  font-family: "cursive";
  src: url("../fonts/Lighthouse_PersonalUse.ttf");
}

html, body {
  height: 100%;
  min-height: 800px;
  width: 100%;
}

body {
  font-family: arial, helvetica, sans-serif;
  color: white;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: "cursive";
  font-size: 80px;
  font-weight: normal;
}

h2 {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
}

h3 {
  font-family: "cursive";
  font-size: 30px;
  font-weight: lighter;
}

a {
  color: white;
  text-decoration: none;

  &:hover,
  &:visited {
    color: white;
    text-shadow: 0px 0px 5px white;
    text-decoration: none;
  }
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.col-xs-4,
.col-xs-6,
.col-xs-8,
.col-xs-10,
.col-xs-12 {
  padding: 0;
}

.btn  {
  display: block;
  cursor: default;
}

.btn a,
input[type="submit"]{
  display: block;
  border: none;
  background: none;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  margin: 20px;
}

.btn a {
  line-height: 40px;
}

.btn a:hover,
input[type="submit"]:hover {
  box-shadow: 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: all 0.2s;
}

.black-button a,
input[type='submit'].black-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background: none;
}

.idostuff .navbar-black {
  background: none;
  border: none;
  margin: 0;
}


.menu {
  display: block;
  text-align: center;
  width: 100%;
  min-height: 50px;
  background: white;


  .nav li {
    list-style-type: none;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    height: 50px;

    a {
      display: block;
      height: 50px;
      text-align: center;
      line-height: 50px;
      padding: 0;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s;

      &:hover,
      &:visited,
      &.active {
        color: rgba(0, 0, 0, 1);
        text-shadow: 0px 0px 5px #333;
        transition: all 0.2s;
      }

      &:before {
        content: "/ ";
        font-size: 20px;
      }
    }
  }

  nav .navbar-toggle,
  nav .navbar-toggle:hover,
  nav .navbar-toggle:active {
    background: none;
  }
}

.main-div {
  display: block;
  height: calc(100% - 250px);
  min-height: 600px;
  width: 100%;
  background-color: #333;
  padding: 0;
}

.page {
  display: block;
  height: 100%;
  min-height: 600px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  h1.page-title {
    font-size: 40px;
  }
}

.footer {
  position: relative;
  background: #333;
  height: 200px;
}

.navbar-brand {
  padding: 0;
  line-height: 40px;
  padding-left: 20px;
}

.navbar .navbar-brand .brand_name {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  vertical-align: middle;

  h3 {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: 1024px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }
  .idostuff .navbar-black {
    border: none;
  }
}
